.image-container {
    height: 400px;
    width: 800px;
    position: relative;
}

.image-container > .control-button {
    position: absolute;
    font-size: 30px;
    padding: 180px 30px;
    background-color: transparent;
    border: transparent;
}

.image-container > .control-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.image-container > .next-button {
    right: 0;
}

.image-container > .left-button {
    left: 0;
}

.image-container ul li img {
    height: 400px;
    width: 800px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}